<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>The Alpha Munger</title>
</head>
<body>
    <div class="container">
    <form method="post" action="/">
        <input id="create-instance" class="center btn" type="submit" value="Create Instance">
    </form>
    <div class="grid-container">
    {% for instance in instanceInfo %}
        <article class="card instance-card">
            <div class="instance-id">
                <h5>Instance ID:</h5>
                <h5>{{ instance["InstanceId"] }}</h5>
                {% if instance["State"]["Name"] == "running" %}
                    <span title="Running" class="green dot"></span>
                {% elif instance["State"]["Name"] == "pending" %}
                    <span title="Pending" class="yellow dot"></span>
                {% elif instance["State"]["Name"] == "shutting-down" %}
                    <span title="Shutting Down" class="yellow dot"></span>
                {% elif instance["State"]["Name"] == "terminated" %}
                    <span title="Terminated" class="red dot"></span>
                {% end %}
            </div>
        <h6 class="instance-type">Instance Type: {{ instance["InstanceType"] }}</h6>
        <h6 class="instance-type">Availability Zone: {{ instance["Placement"]["AvailabilityZone"] }}</h6>
		</article>
    {% end %}
    </div>
</div>
</body>
</html>