.instanceList{
	display: flex;
}

.instance{
	display: inline-block;
	font-family: 'Roboto';
	font-size:large;
	border-radius: 0.5em;
	margin: 1em;
	background-color: rgb(63, 68, 77);
	color:lightgrey;
	transition: all 0.25s ease-in-out;
	
}
.instance:hover{
	transform: scale(1.05,1.05);
}


.instance_bar{
	width:100%;
	height: 2em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.stat_box{
	padding: 1em;

}

.stat{
	padding-bottom: 0.5em;
}

.green{
	background-color: #00FF00;
}

.yellow{
	background-color: #FFFF00;
}

.orange{
	background-color: rgb(255, 153, 0);
}

.red{
	background-color: #FF0000
}

.dark_red{
	background-color: #880000
}

.black{
	background-color: #000000;
}

